.head {
  margin: 0 0 0 120px ;
  padding: 110px 0 0 0;
  color: #484848 !important;
}

.bookings-body {
  background-color: white;
}

.status {
  border: 1px solid #EBEBEB;
  padding: 10px;
  border-radius: 5px ;
  width: auto;

  &:hover {
    background-color: #EBEBEB;
  }
}
.status-box {
  margin: 0px 0 20px 120px ;
  display: flex;
}

.card-booking {
  overflow: hidden;
  background: white;
  height: 120px;
  padding-bottom: 24px !important;
  padding-right: 16px !important;
  padding-top: 24px !important;
  position: relative !important;
  border-bottom: 1px solid rgb(235, 235, 235) !important;
}


