.flex-title {
  .name {
    font-size: 14px;
  }
  .description {
    font-size: 12px;
    font-weight: lighter;
  }
}
.flex-content {
  font-size: 12px;
}
.flex-info-restaurant {
  font-size: 10px;
  font-weight: lighter;
  background-color: rgba( 5, 5, 5, 0.05);
}


