.container {
  .flex-main-img img {
    width: 100%;
    height: 100%;
  }

  .flex-title {
    padding-top: 8px;
    padding-bottom: 8px;
    .name h1 {
      font-size: 26px;
    }
    .description p {
      font-size: 18px;
      font-weight: lighter;
    }
  }

  .flex-content {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px;
  }

  .flex-info-restaurant {
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    background-color: rgba( 5, 5, 5, 0.05);

    .info {
      padding: 20px;
    }
  }
  #deliveroo-btn {
    margin-top: 8px;
    width: 100%;
    color: black;
    text-decoration: none;
  }
  .booking_form {
    color: black;
  }
}

