.container {
  margin-bottom: 16px;

  .flex-main-img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .flex-title {
    padding-top: 20px;
    padding-bottom: 20px;
    .name h1 {
      font-size: 26px;
    }
    .description p {
      font-size: 18px;
      font-weight: lighter;
    }
  }

  .flex-content {
    text-align: justify;
    text-indent: 24px;
    padding-bottom: 8px;
    font-size: 18px;
  }

  .flex-info-restaurant {
    border-radius: 2px;
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    background-color: rgba( 5, 5, 5, 0.05);

    .info {
      padding: 20px;
    }
  }
  #deliveroo-btn {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
    color: black;
    text-decoration: none;
    border-color: #5FB5AD;

    &:hover {
      color: white;
      background-color: #5FB5AD;
    }
  }

  #new_booking {
    border-radius: 2px;
    padding: 8px;
    text-align: left;
    font-size: 16px;
    font-weight: lighter;
    background-color: rgba( 5, 5, 5, 0.05);
  }
}

