<div class="flex-footer" style="background-color: transparent;">
  <footer id="footer" class="footer">
    <div class="flex-content">
      <h3>BIM</h3>
      <p>Bim is the ultimate device to make all your restaurants searches made easy. Find It, Enjoy It, Bim It!.</p>
    </div>
    <div class="flex-container">
      <div class="flex-center">
        <div class="flex-footer-group-address">
          <ul class="footer-list">
            <li><a href="#">All restaurants</a></li>
            <li><a href="#">Italian</a></li>
            <li><a href="#">Mexican</a></li>
            <li><a href="#">French</a></li>
            <li><a href="#">Chinese</a></li>
          </ul>
        </div>
        <div class="flex-footer-group-bookings">
          <ul class="footer-list">
            <li><a href="#">Your bookings</a></li>
            <li><a href="#">Profile</a></li>
          </ul>
        </div>
        <div class="flex-footer-group-social">
          <ul class="footer-social" style="list-style: none;">
            <li><a href="#"><i class="fab fa-github-square"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-rights">
      <h5>© 2019 BIM. All rights reserved.</h5>
    </div>
  </footer>
</div>
