<div class="flex-footer" style="background-color: transparent;">
  <footer id="footer" class="footer">
    <div class="flex-content py-3">
      <div class="flex-description">
        <h3 style="font-family: 'Montserrat', sans-serif;"><strong>BIM</strong></h3>
        <p class="mb-0" style="font-family: 'Open Sans', sans-serif;">Bim is the ultimate device to make all your restaurants searches made easy. Find It, Enjoy It, Bim It!.</p>
      </div>
    </div>
    <div class="flex-bluebox py-5" style="font-family: 'Open Sans', sans-serif;">
      <div class="flex-center">
        <div class="flex-footer-group-address col-4">
          <ul class="footer-list" style="list-style: none;">
            <li><a href="#">All restaurants</a></li>
            <li><a href="#">Italian</a></li>
            <li><a href="#">American</a></li>
            <li><a href="#">French</a></li>
            <li><a href="#">Belgian</a></li>
            <li><a href="#">Asian</a></li>
          </ul>
        </div>
        <div class="flex-footer-group-bookings col-4" >
          <ul class="footer-list" style="list-style: none;">
            <li><a href="#">Your bookings</a></li>
            <li><a href="#">Profile</a></li>
          </ul>
        </div>
        <div class="flex-footer-group-social col-2">
          <ul class="footer-social" style="list-style: none;">
            <li><a href="#"><i class="fab fa-github-square"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="flex-rights">
      <h5><light>© 2019 BIM. All rights reserved.</light></h5>
      </div>
    </div>
  </footer>
</div>
