<nav class="navbar-expand-lg fixed-top">
  <div class="custom-navbar row">
    <div class="col-4 d-flex ">
      <%= link_to "All restaurants", root_path, class: "btn btn-link navbar_element" %>
    </div>
    <div class="col-4">
      <div class="title">
        <h1>Airbn'BIM</h1>
      </div>
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center">
      <div class="login_div">
        <% if user_signed_in? %>
          <button class="dropbtn">
            <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
          </button>
          <div class="dropdown-content">
            <a href="#">My bookings</a>
            <a href="#">Add Restaurant</a>
            <a href="#">Change password</a>
            <%= link_to "Log out", destroy_user_session_path, class: "btn btn-link navbar_element_login",
            method: :delete,
            data: { confirm: "Do you want to log out?"} %>
            <a href="#">Delete my account</a>
          </div>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "btn btn-link navbar_element_login" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
