<nav class="navbar-expand-lg">
  <div class="custom-navbar row">
      <div class="col-4 d-flex ">
        <a href="" class="btn btn-link navbar_element_login">
          <p>Login</p>
        </a>
      </div>
      <div class="col-4">
        <div class="title">
          <h1>BIM'S Restaurants</h1>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
          <a href="" class="btn btn-link navbar_element">
            <p>All restaurants</p>
          </a>
          <a href="" class="btn btn-link navbar_element">
            <p>Events</p>
          </a>


          <a href="" class="navbar_element">
            <p>FR</p>
          </a>
           <a href="" class="btn btn-link navbar_element">
            <p>EN</p>
          </a>
      </div>
  </div>
</nav>

