<%= render "shared/navbar" %>

<div class="banner" style=" ">
  <div class="banner-content text-center d-flex">
    <input class="form-control" type="text" placeholder="Adresse.." aria-label="Search">
    <select class="form-control" type="text" placeholder="Type de cuisine" aria-label="Search">
      <option>Italian</option>
      <option>French</option>
      <option>Thai</option>
      <option>Fast-Food</option>
      <option>Belgian</option>
    </select>
    <input class="form-control" type="datetime-local" placeholder="Toutes les adresses" aria-label="Search">
    <select class="form-control" type="text" placeholder="Nombre de personnes" aria-label="Search">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    <a class="btn btn-flat" href="#">Book now</a>
  </div>
</div>
