<%= render "shared/navbar" %>

<div class="banner" style=" ">
  <div class="banner-content text-center d-flex">
    <input class="form-control" type="text" placeholder="Address..." aria-label="Search">
    <select class="form-control" type="text" placeholder="Cuisine type" aria-label="Search">
      <option>Italian</option>
      <option>French</option>
      <option>American</option>
      <option>Asian</option>
      <option>Belgian</option>
    </select>
    <input class="form-control" type="datetime-local" placeholder="All addresses" aria-label="Search">
    <select class="form-control" type="text" placeholder="Number of persons" aria-label="Search">
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
    <a class="btn btn-flat" href="#">Go</a>
  </div>
</div>

<%= render 'shared/footer' %>
