.banner {

  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("background");
  background-size: cover;
  background-position: center;

  h1 {
    background-color: white;
    color: black;
    font-weight: light;
    font-size: 25px;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
}
.form-control-banner {
  margin: 4px;
  width: auto;
  border-radius: 5px;
}
.btn {
    padding: 15px 15px;
  }

.btn-flat {
  color: white;
  padding: 8px 20px;
  border-radius: 4px;
  background: #5FB5AD;
  transition: background 0.3s ease;

  &:hover {
  background: #5FB5AD;
  color: white;
  }
}

.header {
  margin: 0 auto;
  h2 {
    color: white;
  }
}





