.card-resto {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  a {
  text-decoration: none;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }

  .card-resto-pricing {
    width: 40px;
    font-weight: bold;
  }
  .card-resto-content {
    padding: 0px 30px 10px 30px;
    text-align: justify;
  }

  .card-resto-infos {
    color: black;
    padding: 20px 20px 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    text-decoration: none;
  }

  .card-resto-category {
    text-align: center;
    font-weight: bolder;
    padding-bottom: 20px;
  }
}

.card-resto > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 16px;
  margin-top: 25px;
  margin-bottom: 25px;
}



