.card-resto {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px ;
  }

  p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  }
  .card-resto-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  }

  .card-resto-category {
  text-align: center;
  font-weight: bolder;
  padding-bottom: 10px;
  }
}

.card-resto > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 35px;
  margin-bottom: 35px;
}
