.form-container {
  width: 40%;
  margin: 0 auto;
  padding: 80px 0;
}

.group-form-element {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.form-full-right {
  width: 100%;
  margin-left: 10px;
}

.form-full-left {
  width: 100%;
  margin-right: 10px;
}

.select {
  width: auto;
}

.form-search-large {
  width: 40vh;
  margin: 0 10px;

  .form-group {
    color: white;
  }
}
.form-search-medium {
  width: 25vh;
  margin: 0 10px;
  .form-group {
    color: white;
  }
}
.search-container {
  width: 120vh;
  display: flex;
  align-items: end;
  label {
    visibility: hidden;
  }

  #new_restaurant {
    display: flex;
  }
}
