.custom-navbar {
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-align:center;
  float: none;
  vertical-align: top;
  border-bottom: 1px solid #EBEBEB;
}

.title {
  font-family: Open Sans;
  padding-top: 5px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar_element {
  color: #5FB5AD;
  width: auto;
  margin-left: 20px ;

  &:hover{
    color: #484848;
    text-decoration: none;

  }

}

.navbar_element_login {
  margin-right: 0px ;
  color: #5FB5AD;
  width: auto;

  &:hover{
    color: #484848;
    text-decoration: none;
  }
}

.btn {
  padding-left: 5px;
}

.login_div {
  margin-right: 20px;
  float: left;
  overflow: hidden;

.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 40px;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

    &:hover {
      color: white;
      background-color: #5FB5AD;
      text-decoration: none;
    }
  }
}

.login_div:hover .dropdown-content {
  display: block;
}
