.custom-navbar {
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-align:center;
  float: none;
  vertical-align: top;
}

.title {
  font-family: Open Sans;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar_element {
  color: #5FB5AD;
  width: auto;
}

.navbar_element_login {
  margin-left: 20px ;
  color: #5FB5AD;
  width: auto;
}

.btn {
  padding-left: 5px;
}

