.custom-navbar {
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-align:center;
  float: none;
  vertical-align: top;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar_element {
}
#navbar_element_login {
  padding-left: 20 px;
}
